<div class="app-container" *ngIf="pageLoadStatus === 'COMPLETED'">
    <div class="container">
        <div class="current-info">
            <div class="date-container">
                <div class="time">
                    {{currentTime}}
                </div>
                <div class="date">
                    {{today}}
                </div>
                <div class="place-container">
                    <div class="time-zone">{{cityDetails.name}}</div>
                    <div class="state">{{cityDetails.state}}</div>
                </div>
            </div>
            <input type="text" class="city-search" [(ngModel)]="selectedCity" [typeahead]="cityList"
                [typeaheadAsync]="false" (typeaheadOnSelect)="fetchWetherData()"
                [typeaheadOptionsLimit]="10" [isAnimated]="true" placeholder="Search City">
            <div class="forecast-container">
                <div class="today">
                    <div class="current-weather">
                        <img src="{{currentWeatherData.icon}}" width="60px" alt="weather icon" class="w-icon">
                        <div class="current-status">
                            <div class="temp">{{ currentWeatherData.temp }}&#176; C</div>
                            <div class="temp">{{ currentWeatherData.desc }}</div>
                        </div>
                    </div>
                    <div class="current-text">Sunrise - {{ currentWeatherData.sunrise }}</div>
                    <div class="current-text">Sunset - {{ currentWeatherData.sunset }}</div>
                    <div class="current-text">Wind - {{ (currentWeatherData.windSpeed) * 3.6 | number : '1.2-2' }} kmph</div>
                    <div class="current-text">Pressure - {{ currentWeatherData.pressure }} hPa</div>
                    <div class="current-text">Humidity - {{ currentWeatherData.humidity }} %</div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="forecast-container">
            <div>
                <div>
                    <canvas baseChart height="260" width="900"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="false"
                        [chartType]="'line'">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="future-forecast">
        <div class="today">
            <div>
                <div class="day">{{dailyWeatherData[0].day}}</div>
                <img src="{{dailyWeatherData[0].icon}}" alt="weather icon" class="w-icon">
                <div class="temp">{{dailyWeatherData[0].desc}}</div>
                <div class="temp">Day - {{dailyWeatherData[0].temp_day}}&#176; C</div>
                <div class="temp">Night - {{dailyWeatherData[0].temp_night}}&#176; C</div>
                <div class="temp">Max - {{dailyWeatherData[0].temp_max}}&#176; C</div>
                <div class="temp">Min - {{dailyWeatherData[0].temp_min}}&#176; C</div>
            </div>
        </div>
        <div class="weather-forecast">
            <div class="weather-forecast-item" *ngFor="let weatherData of dailyWeatherData | slice:1">
                <div class="day">{{weatherData.day}}</div>
                <img src="{{weatherData.icon}}" alt="weather icon" class="w-icon">
                <div class="temp">{{weatherData.desc}}</div>
                <div class="temp">Day - {{weatherData.temp_day}}&#176; C</div>
                <div class="temp">Night - {{weatherData.temp_night}}&#176; C</div>
                <div class="temp">Max - {{weatherData.temp_max}}&#176; C</div>
                <div class="temp">Min - {{weatherData.temp_min}}&#176; C</div>
            </div>
        </div>
    </div>
</div>
