.app-container {
    background: url("/assets/image/background/climate2.jpg") center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    padding: 0px 40px;
    color:#fff;
    max-width: 100%;
}

.current-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.date-container {
    font-weight: 100;
}

.date-container .time {
    font-size: 30px;
}

.date-container .date {
    font-size: 22px;
}


.place-container .time-zone {
    font-size: 22px;
    font-weight: 100;
}

.place-container .state {
    font-size: 15px;
    font-weight: 500;
}

.forecast-container {
    display: flex;
    justify-content: center;
    background: rgba(93 93 103 / 60%);;
    border-radius: 8px;
    padding: 15px 30px;
    margin: 15px 0;
    color: #fff;
}

.current-weather {
    display: flex;
    justify-content: normal;
}

.current-status {
    display: flow-root;
    align-items: center;
    font-size: 20px;
}

.future-forecast {
    background: rgba(93 93 103 / 60%);;
    padding: 25px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    color:white;
    width: 100%;
    justify-content: center;
    overflow-y: hidden;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    margin-right: 15px;
    min-width: 200px;
    border-radius: 10px;
    background: rgba(93 93 103 / 60%);
}

.future-forecast .today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 12px;
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    min-width: 130px;
    border-radius: 10px;
    background: rgba(93 93 103 / 60%);
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
    font-size: 12px;
}

.city-search {
    width: 38%;
    height: 45px;
    border-radius: 6px;
    border: none;
    padding: 6px;
    outline: none;
}

.current-text {
    font-size: 14px;
}

.item-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and  (max-width:730px) {
    
    .container {
        padding: 20px;
    }
    
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp {
        font-size: 16px;
    }

    .date-container .time {
        font-size: 50px;
    }

    .date-container .date {
        font-size: 20px;
    }

}

@media only screen and (max-width: 1400px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}